[submodule "prg1/worldmap"]
	path = prg1/worldmap
	url = git@course-gitlab.tuni.fi:compcs300-fall2023/worldmap.git
[submodule "prg2/worldmap"]
	path = prg2/worldmap
	url = git@course-gitlab.tuni.fi:compcs300-fall2023/worldmap.git
